{% extends "base.html" %}

{% block content %}
<h1 class="title" style="text-align: center;">
    Welcome, {{name}}! Ask your questions here!
</h1>
<div style="text-align: center; margin:auto; width: 50%;" id="ask-card">
    <div class="box">
        <form method="POST" action="/ask">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="question" placeholder="Your Question title" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <textarea class="input" size="10px" style="width:100% !important;height:250px !important;" 
                        type="text" name="description" placeholder="Your Question in a detailed manner" required></textarea>
                </div>
            </div>
            <p style="position: absolute;">Grade - </p>
            <div style="margin:auto; float: right; padding-right:5%; padding-bottom: 3%;">
                <select id="std" name="std" style="padding:9%;" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <br>
            <br>
            <div style="margin:auto; padding-right:5%; padding-bottom: 3%;">
                <p style="position: absolute;">Subject - </p><select id="subject" name="subject" style="padding:0%; float: right;" required><option value="Maths">Maths</option><option value="Computer">Computer</option><option value="Physics">Physics</option><option value="Chemistry">Chemistry</option><option value="Biology">Biology</option><option value="History">History</option><option value="Geography">Geography</option><option value="English">English</option><option value="Hindi">Hindi</option><option value="Economics">Economics</option><option value="Marathi">Marathi</option><option value="French">French</option><option value="Gujarati">Gujarati</option><option value="Commercial Studies">Commercial Studies</option><option value="Commercial Applications">Commercial Applications</option><option value="Art">Art</option><option value="Physical Education">Physical Education</option><option value="Yoga">Yoga</option>
                </select>
            </div>
            <br><br>
            <button class="button is-block is-info is-large is-fullwidth">Ask!</button>
        </form>
    </div>
</div>
{% endblock %}